<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
</head>
<body>
    <h1>Suppliers List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Supplier Number</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>Last Updated By</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier_name }}</td>
                <td>{{ supplier.supplier_number }}</td>
                <td>{{ supplier.status }}</td>
                <td>{{ supplier.creation_date }}</td>
                <td>{{ supplier.last_updated_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
